/* місце для імпорта шрифтів */
/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap'); */
/* місце для підключення шрифтів через @font-face */

/* @font-face {
    font-family: "Bungee Shade";
    src: url(../assets/fonts-1/BungeeShade-Regular.ttf) format("truetype");
} */

/* bungee-shade-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bungee Shade';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts-2/bungee-shade-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts-2/bungee-shade-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts-2/bungee-shade-v13-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../assets/fonts-2/bungee-shade-v13-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../assets/fonts-2/bungee-shade-v13-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../assets/fonts-2/bungee-shade-v13-latin-regular.svg#BungeeShade') format('svg'); /* Legacy iOS */
  }


h1 {
  font-size: 120px;
  /* місце для налаштування шрифта заголовку */
  font-family: "Bungee Shade", sans-serif;
}

body {
  height: 100vh;
  background-color: #3b42d5;
  color: #faff0e;
  display: flex;
  justify-content: center;
  align-items: center;
}
